@import "global.scss";

.song-tile {
  border: 4px $secondary-color solid;
  width: 33%;
  margin: 16px;
  background-color: $background-color;
  border-radius: 16px 0px;
  h1 {
    color: $accent-color;
  }
  h3{
    color: $secondary-color
  }
}