@import "global.scss";

.song-tile {
  display: flex;
  background-color: $primary-color;
  border: solid 4px;
  border-color: $accent-color;
  margin: 4px;
  min-width: 25vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  .song-image {
    width: 96%;
    padding: 2% 2% 0% 2% ;
  }

  .song-details {
    color: $secondary-color;
    .song-name{
      color: $main-font;
    }
  }
}