@import "global.scss";

.song-tile {
  display: flex;
  background-color: $primary-color;
  border-style: solid;
  border-width: 16px 8px;
  margin: 8px;
  border-color: $accent-color;
  min-width: 50%;
  max-height: 100%;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .song-image {
    width: 100%;
    padding: 2% 2% 0% 2% ;
  }

  .song-details {
    color: $secondary-color;
    .song-name{
      color: $main-font;
    }
  }
}